@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./reboot.css";

* {
  font-family:
    "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  i {
    color: white;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr 5%;

  dialog {
    border: 2px solid white;
    border-radius: 1rem;
    background-color: black;
    color: white;
    & > form {
      div > * {
        display: block;
        margin: 1rem;
      }
      & > button {
        min-width: 100%;
      }
    }
  }
  .color-guide {
    list-style: none;
    padding-left: 0;
  }

  .color-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 3px;
  }

  .color-box.green {
    background-color: green;
  }
  .color-box.blue {
    background-color: blue;
  }
  .color-box.red {
    background-color: red;
  }
  .color-box.grey {
    background-color: grey;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-and-bold {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    & > .title {
      flex: 1;
      text-align: center;
    }

    & > .icons {
      display: flex;
      gap: 3rem;
    }
  }

  & > main {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;

    & > .board-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > .player-label {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.2rem;
      }

      & > .gameboard {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;

        & > .grid-row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 10%;

          & > .grid-cell {
            width: 10%;
            height: 100%;
            border: 2px solid white;
          }
        }
      }
    }

    .grid-cell.hit {
      background-color: green;
    }

    .grid-cell.miss {
      background-color: red;
    }

    .grid-cell.untouched {
      background-color: grey;
    }

    .human-board .grid-cell.ship:not(.hit):not(.miss) {
      background-color: blue;
    }

    .ai-board .grid-cell.ship:not(.hit):not(.miss) {
      background-color: grey;
      cursor: pointer;
    }
  }

  & > footer {
    grid-area: footer;
    gap: 1rem;
  }
}
